<!doctype html>
<html lang="en" ng-app="Profile_App" ng-controller="Profile_Controller">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/index.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.js"></script>
        <script src="js/index.js"></script>
    </head>
    <body>
        <div id="Application">
            <div class="Container" id="Header">
                <img src="{{data.picture}}" id="Image_Profile">
                <div id="Profile_Data">
                    <div data-html="name" id="Profile_Name">
                        {{data.name}}
                    </div>
                    <div data-html="name" id="Profile_Title">
                        {{data.title}}
                    </div>
                    <div data-html="name" id="Profile_Description">
                        {{data.summary}}
                    </div>
                </div>
            </div>
            <div class="Container" id="Center">
                <div ng-if="data.education" class="Section">
                    <div class="Section_Title">
                        Education
                    </div>
                    <div class="Section_Item" ng-repeat="item in data.education">
                        <div class="Section_Main">{{item.name}}</div>
                        <div class="Section_Field">{{item.description}}</div>
                        <div class="Section_Field">{{item.period}}</div>
                    </div>
                </div>
                <div ng-if="data.projects" class="Section">
                    <div class="Section_Title">
                        Projects
                    </div>
                    <div class="Section_Item" ng-repeat="item in data.projects">
                        <div class="Section_Main">{{item.title}}</div>
                        <div class="Section_Field">{{item.description}}</div>
                        <div class="Section_Field">{{item.link}}</div>
                    </div>
                </div>
                <div ng-if="data.current_companies" class="Section">
                    <div class="Section_Title">
                        Current Companies
                    </div>
                    <div class="Section_Item" ng-repeat="item in data.current_companies">
                        <div class="Section_Main">{{item.company}}</div>
                        <div class="Section_Field">{{item.title}}</div>
                        <div class="Section_Field">{{item.description}}</div>
                        <div class="Section_Field">{{item.duration}}</div>
                    </div>
                </div>
                <div ng-if="data.past_companies" class="Section">
                    <div class="Section_Title">
                        Past Companies
                    </div>
                    <div class="Section_Item" ng-repeat="item in data.past_companies">
                        <div class="Section_Main">{{item.company}}</div>
                        <div class="Section_Field">{{item.title}}</div>
                        <div class="Section_Field">{{item.description}}</div>
                        <div class="Section_Field">{{item.duration}}</div>
                    </div>
                </div>
                <div ng-if="data.skills" class="Section">
                    <div class="Section_Title">
                        Skills
                    </div>
                    <div class="Section_Tag" ng-repeat="item in data.skills">
                        <div class="Section_Main">{{item}}</div>
                    </div>
                </div>
                <div ng-if="data.websites" class="Section">
                    <div class="Section_Title">
                        Websites
                    </div>
                    <div class="Section_Item" ng-repeat="item in data.websites">
                        <div class="Section_Main">{{item}}</div>
                    </div>
                </div>
                <div ng-if="data.languages" class="Section">
                    <div class="Section_Title">
                        Languages
                    </div>
                    <div class="Section_Item" ng-repeat="item in data.languages">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>